@model List<MessageBox>
@using Microsoft.AspNetCore.Identity
@using Trial3.Areas.Identity.Data
@using Trial3.Models
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Chats";
}

<h1>Chats</h1>

<div class="container">
    <div class="row" >
        <div class="overflow-auto col-md-4" style="height:70vh">
        @foreach(var i in Model){
            <div class="card">
                <div class="card-body border bg-dark">
                    <i class="bi bi-person-circle text-white"></i>
                    <a asp-controller="User" asp-action="Chat" asp-route-messageBoxId="@i.Id" class="fs-5 text-white">@i.Title</a>
                    by <p class="text-white m-0">@i.Employer</p>
                </div>
            </div>
        }
        </div>@*
        @if(Model.messageBox == null)
        {
            
        }
        else
        {
            <div class="bg-dark border col-md-8" style="height:70vh">
            <div class="row justify-content-center mb-2 bg-dark">
                <div class="col-6 fs-4 px-5 text-light">Title</div>
                <div class="col-6 text-light text-muted text-end">@DateTime.Now</div>
            </div>
            
                <div id="Messages" class="p-5 bg-light overflow-auto" style="height:50vh" >
                    @foreach(var message in Model.messageBox.Messages)
                    {
                        var freelancer = await UserManager.FindByIdAsync(message.SenderId);
                        <p>@freelancer.UserName : @message.Message </p>
                        <p> @message.CreateTime</p>
                        <hr />
                    }
                </div>
            
            <div class="row px-3 pt-4">
                <form asp-controller="User" asp-action="createMessage">
                    <input hidden name="messageid" value="@Model.messageBox.Id">
                    <textarea name="Message" class="col-9"></textarea>
                    <button type="submit" class="btn btn-danger col-3"> Send</button>
                </form>
                
            </div>
        </div>
        }*@
        
    </div>
    
</div>
@*
@section scripts{
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script>
        var connection = new signalR.connectionBuilder()
                                    .withUrl("/CatHub")
                                    .build();
        
        var _connecrtionId = "";

        connection.on("recieveMessage", function(data) {
            console.log(data)
        })
        
        connection.start()
            .then(fucnction(){
                connection.invoke('getConnectioId')
                    .then(function(connectionId) {
                        _connecrtionId = connectionId
                    })
            })
            .catch(function(err) {
                console.log(err)
            })

        var joinRoom = function() {
            var url = ('/chat/JoinRoom/'+_connecrtionId+'/@Model.messageBox.Id')
            axios.post(url, null)
                .then(res => {
                    console.log("Room Joined", res);
                })
                .catch(err){
                    console.log("Failed to joined Room", err)
                }
        }
    </script>
}*@