@model IEnumerable<Project>
@using Microsoft.AspNetCore.Identity
@using Trial3.Areas.Identity.Data
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
    <div class="row p-4 mb-3">
        <div class="col-4">

        </div>
        <div class="col-4 text-center">
            <a asp-controller="project" asp-action="userProject" asp-route-id="@UserManager.GetUserId(User)" class="btn btn-dark">
                go to my project
            </a>
        </div>
        <div class="col-4 text-end">
            <a asp-controller="project" asp-action="Create" class="btn btn-dark">
                <i class="bi bi-plus-circle-fill"></i> Create Project
            </a>
        </div>
    </div>

    <div class="container">
        
        <div class="row">
            <div class="col-3 border" style="hight:50%">
                <form class="" method="get" asp-controller="Project" asp-action="Index" >
                    <input type="text" class=" p-2 mb-2 rounded-3 border-1" name="term" placeholder="filter Search" />
                    <input class="col-5 p-2 rounded-3 border-1" type="number" name="minbudget" placeholder="minimum budget"/>
                    <input class="col-5 p-2 rounded-3 border-1" type="number" name="maxbudget" placeholder="maximum budget"/>
                    <input class="mt-2 p-2 rounded-3 border-1" type="text" name="tags" placeholder="tags" />
                    <input class="p-2 mt-2 mb-3 rounded-3 border-1" type="date" name="deadline" placeholder="Dead Line" /><br />
                    <button type="submit" class="btn btn-success">Apply</button>
                </form>
            </div>
            <div class="col-9" id="Projects">
                <div >
                    <input class="col-12 mb-2 p-2" type="text" id="myInput" name="term" placeholder="Serach" />
                </div>
            @foreach(var obj in Model){
                <div class="border shadow-lg border-info p-3 mt-4" id="project" style="border-radius: 25px;" onclick="location.href = '@Url.Action("detail","Project",new { id = obj.projectId})'">
                    <div class="mb-3">
                        <h3>@obj.ProjectName</h3>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                        @{
                            var user = await UserManager.FindByIdAsync(obj.EmployerId);
                        }
                            created by : @user.UserName
                        </div>
                        <div class="col-6 text-end">
                            @obj.CreateTime
                            end at : @obj.BidEndDate
                        </div>
                    </div>
                    <hr />
                    <div class="mb-3">
                        @{
                            int startIndex = 0;
                            int length = 150;
                            string value = @obj.Description;
                            string shortdisc = value.Substring(startIndex, length);
                        }
                        @shortdisc
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-8">@obj.tags</div>
                            <div class="col-md-4 text-success">@obj.Status</div>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
</div>

@section scripts{
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script>
      $(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#Projects #project").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
  </script>
}
